.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.formContainer label {
    display: block;
    margin: 0.2rem;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

.formContainer input{
    width: 20vw;
    padding: 0.5rem;
    font-size: 16px;
    border: none;
    outline: none;
}

.formContainer input:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.checkBox{
    display: flex;
    margin-top: 1rem;
}

.checkBox input{
    width: 3rem;
}


.btn{
    width: 12vw;
    padding: 0.3rem;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1rem;
}

.btn:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

@media screen and (max-width : 1000px) {
    .formContainer input{
        width: 25vw;
    }

    .checkBox input{
        width: 3rem;
    }

    .btn{
        width: 16vw;
    }
}

@media screen and (max-width : 768px) {
    .formContainer input{
        width: 35vw;
    }

    .checkBox input{
        width: 2rem;
    }

    .btn{
        width: 20vw;
    }
}

@media screen and (max-width : 420px) {
    .formContainer input{
        width: 60vw;
    }

    .checkBox input{
        width: 2rem;
    }

    .btn{
        width: 40vw;
    }
}
