.parentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    padding: 1.5rem;
    border: 1px solid rgb(92, 89, 89);
    border-radius: 10px;
    flex-direction: column;
    width: 30vw;
    background-color: rgb(32, 172, 125);
    color: #fff;
    text-align: center;
}


.formContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.formContainer input{
    width: 20vw;
    padding: 1rem;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    background-color: aquamarine;
    border: none;
}

.formContainer input:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.formContainer button{
    width: 8vw;
    padding: 0.6rem;
    margin: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
}

.formContainer button:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


@media screen and (max-width : 1200px) {
    .parentContainer{
        width: 50vw;
    }

    .formContainer input{
        width: 40vw;
    }
}

@media screen and (max-width : 420px) {
    .parentContainer{
        width: 80vw;
    }

    .formContainer input{
        width: 70vw;
    }

    .formContainer button{
        width: 15vw;
    }
}